<h1>Table of Users</h1>

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Length</th>
            <th scope="col">Sex</th>
            <th scope="col>"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.length }}</td>
            <td>{{ user.sex}} </td>
            <td><button class="smallFont" style = "position:relative; left:50px;"(click)="deleteUser(user.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>